/* A good font <3 */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

/* My custom font for Morse Code lmaooo */
@font-face {
  font-family: 'Morse';
  src: url("fonts/morse.woff2") format("woff2"), url("fonts/morse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Morse2o';
  src: url("fonts/Morse-2o.ttf") format("ttf");
}


/*
Digital Display by chequered.ink
license: Freeware, Non-Commercial
link: https://www.fontspace.com/digital-display-font-f31011
*/
@font-face {
  font-family: 'DigitalDisplay';
  src: url("fonts/DigitalDisplay.woff2") format("woff2"), url("fonts/DigitalDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
